
.main-container {
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    height: 75vh;
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 35%, rgba(84,183,205,1) 76%, rgba(45,45,45,1) 100%);
}

.main-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.navbar{
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 17%, rgba(12,148,51,1) 94%);
}
.greenbbg{
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 17%, rgba(12,148,51,1) 94%);
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }

  header {
    background-color: #0074e4;
    color: #fff;
    padding: 20px;
  }

 
  .puntos {
        display: flex;
        flex-direction: column;
        margin: 10px 5px;
        font-size: 25px;
        padding: 15px 50px;
        border: 2px solid yellow;
        color: rgb(0, 0, 0);
        background: linear-gradient(to right, rgba(123, 0, 255, 0.504), rgba(200, 0, 255, 0.447));
        
  }

  .boton {
    color: rgb(0, 0, 0);   
  }

  a:hover {
    color:rgb(255, 234, 0);
}




/* TITULO DESCUENTOS ---------------------------------------------- 1200 ----*/
.descuentos h2{
  text-align: center;
}
.descuentos .contenedor-des{
  max-width: 1100px;
  margin: auto;
  font-size: 22px;
  padding: 15px 0;
  background: linear-gradient( rgb(201, 74, 255), rgb(136, 0, 255) );
}

/* UBICACION DE TARJETAS ----------------------------------------------*/
.descuentos .fila .col{
  text-align: center;
    width: 30%;
    padding: 30px 0;
}


/* CARACTERISTICAS DE LAS TARJETAS ------------------------------------*/
.descuentos .fila .col .card {
  
  
    height: 300px;
    border: 1px solid gray;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    position: relative;
    padding: 30px 0;
    position: relative;
    margin-top: 200%;
}












.contenedor-des2{
  margin-top: 7%;
}

.contenido {
  margin: 20px 0;
}


.tarjeta {
  width: 160px;
  height: 150px;
  border: 1px solid #ddd;
  margin: 10px;
  float: left;
}

.tarjeta:hover {
  background-color: #f0f0f0;
}

.titulo {
  background-color: #00ff4487;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}



/* Estilos para el contenedor de tarjetas */
#contenedor {
  width: 800px;
  margin: 3%;
}

/* Estilos de limpieza de flotantes */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


















