.custombg{
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 35%, rgba(84,183,205,1) 76%, rgba(45,45,45,1) 100%);
    padding: 10%;
}
.custom-height{
    height: 75vh;
}


.login-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.navbar{
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 17%, rgba(12,148,51,1) 94%);
}
.greenbbg{
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 17%, rgba(12,148,51,1) 94%);
}

