/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Estilo para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido del contenedor principal */
}

/* Estilo para cada grupo de texto e input */
.input-group {
  display: flex;
  align-items: center; 
  margin-bottom: 2px; 
}

/* Estilo para el texto */
.label {
  width: 100px; /* Ancho fijo para los textos */
  text-align: center; /* Alinea los textos a la derecha */
}

/* Estilo para el input */
input {
  width: 200px; 
}

/* Estilo adicional para centrar horizontalmente los inputs */
.center-input {
  justify-content: center; 
}

/* Estilos para el encabezado y el navbar */
header {
  background-color: #3e8b3e; /* Verde oscuro */
  color: #fff; /* Texto blanco */
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* Texto blanco */
  font-weight: bold;
  font-size: 18px;
}

/* Estilos para el área principal (hero) */
.hero {
  background-color: #4caf50; /* Verde */
  color: #fff; /* Texto blanco */
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  margin: 0;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

.cta-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #388e3c; /* Verde oscuro */
  color: #fff; /* Texto blanco */
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #4caf50; /* Verde */
}

/* Estilos para el footer */
footer {
  background-color: #3e8b3e; /* Verde oscuro */
  color: #fff; /* Texto blanco */
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.social-links a {
  text-decoration: none;
  color: #fff; /* Texto blanco */
  font-size: 24px;
  margin: 0 10px;
}

/* Estilos adicionales según sea necesario */
