
.main-container {
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    height: 75vh;
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 35%, rgba(84,183,205,1) 76%, rgba(45,45,45,1) 100%);
}

.main-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.navbar{
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 17%, rgba(12,148,51,1) 94%);
}
.greenbbg{
    background: rgb(117,191,105);
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 17%, rgba(12,148,51,1) 94%);
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }

  header {
    background-color: #0074e4;
    color: #fff;
    padding: 20px;
  }

  h1 {
       padding: 10px 0px;
  }

.form-floating {
    padding: 120px 20px;
    font-size: 20px;
       
}

  .puntos {
        display: flex;
        flex-direction: column;
        margin: 10px 5px;
        font-size: 25px;
        padding: 15px 50px;
        border: 2px solid yellow;
        color: rgb(0, 0, 0);
        background: linear-gradient(to right, rgba(123, 0, 255, 0.504), rgba(200, 0, 255, 0.447));
        
  }

  .boton {
    color: rgb(0, 0, 0);   
  }